*{
    margin: 0;
    padding: 0;
}

body{
    background:skyblue;
}

.container, .result{
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
}

.container{
    /* display: none; */
    width: auto;
    height: auto;
    padding-bottom: 5px;
    background: white;
    border-radius:5px;
    font-family: 'Lato', sans-serif;
}

.centre{
    text-align: center;
    margin-top: 5px;
    font-family: 'Lato', sans-serif;
    text-transform: uppercase;
    font-size: 40px;
    font-weight: 800;
    letter-spacing: 7px;
}
#timer-section{
    width: 180px;
    height: 50px;
    padding-top: 10px;
    margin: 5px auto auto auto;
    border-radius: 3px;
    background-color: gray;
    text-transform: uppercase;
}
#timer{
    margin: 2px auto auto 2px;
    text-transform: uppercase;
    text-align: left;
    color: white;
    letter-spacing: 3px;
}

#sec{
    margin: 2px auto auto 2px;
    border-radius: 2px;
    font-size: 20px;
    padding: 5px;
    text-align: right;
    color: white;
}

#timer, #sec{
    font-weight: 600;
    display: inline;

}

.container .row .col ol, #line{
    padding-top: 5px;
    border-top: 1px solid gray;
}

.container .row .col h2{
    font-weight: 800;
    letter-spacing: 2px;
}

.fa-check-circle{
    color: green
}

.fa-times-circle{
    color: red;
}

.container section .row .row .list{
    display: block;
}
.container section .row .col .option{
    background-color: lightyellow;
    border: lightyellow; 
    border-radius: 5px;
    font-size: 18px;
    font-weight: 600;
    padding: 2px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    transition: 0.2s;
}

.container section .row .col .option:hover{
    background-color: lightskyblue;
}

.result{
    display: none;
    padding: 9px 12px;
    border: 1px solid skyblue;
    border-radius: 4px;
    background: white;
}
.score, .form-group label{
  text-transform: uppercase;
  font-weight: 600;  
}
.result form .btn{
    margin-top: 5px;
} 